body {
 background-color:hsl(217, 54%, 11%);
 text-align: center;
 font-family: Outfit, sans-serif;
 line-height: 1.5;
}
p {
 font-size: 18px;
 color: hsl(215, 51%, 70%);
}
h2 {
 text-align: left;
 color: white;
 margin-left: 12px;
 font-size: 0.85em;
 padding-top: 10px;
}
hr {
 color: hsl(215, 32%, 27%);
 border-style: dotted none none;
}
.main-img {
 width: 90%;
 margin-top: 20px;
 border-radius: 10%;
}
.avatar-img {
 width: 10%;
 float: left;
 margin-left: 12px;
 margin-top: 18px;
 margin-right: 10px;
}
.eth-icon {
 padding-right: 5px;
}
.days-icon {
 padding-right: 5px;
}
.top-container {
 position: absolute;
 background-color: hsl(216, 50%, 16%);
 display: inline-block;
 padding: 0 5px;
 margin-top: 10px;    
 margin-left: -135px;
 margin-bottom: 5px; 
 height: 30em;
 width: 22%;
 border-radius: 25px;
 z-index: 3;
}
.middle-container {
 position: relative;
 background-color: hsl(217, 54%, 15%);
 height: 31em;
 width: 25%;
 border-radius: 25px;
 margin: 100px auto;
 z-index: 2;
}
.description {
 display: block;
 text-align: left;
 margin-left: 12px;
 font-size: 0.75em;
}
.eth-days {
 display: flex;
}
.eth-days .eth {
 margin-left: 12px;
 font-size: 0.8em;
 color: hsl(178, 100%, 50%);
}
.eth-days .days {
 margin-left: auto;
 margin-right: 12px;
 font-size: 0.8em;
 color: hsl(215, 51%, 70%);
}
.designer {
 font-size: 0.9em;
 margin-top: 25px;
 text-align: left;
}
.name {
 color: white;
}